<!DOCTYPE html>
<html>
<head>
<!-- Basic -->
<meta charset="utf-8">
<title>Classroom Shoppers - account order</title>
<meta name="keywords" content="Online Shopping" />
<meta name="description" content="DBMS Course project">
<meta name="author" content="etheme.com">
<link rel="shortcut icon" href="/../images/favicon.ico">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
<!-- Icon Fonts  -->
<link rel="stylesheet" href="/../font/style.css">
<!-- /../Vendor CSS -->
<link rel="stylesheet" href="/../vendor/waves/waves.css">
<link rel="stylesheet" href="/../vendor/slick/slick.css">
<link rel="stylesheet" href="/../vendor/slick/slick-theme.css">
<link rel="stylesheet" href="/../vendor/bootstrap-select/bootstrap-select.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/../css/style.css">
<link rel="stylesheet" href="/../css/style-colors.css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<!-- Head Libs -->

<!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
<!--[if lte IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

<!-- Modernizr -->
<script src="/../vendor/modernizr/modernizr.js"></script>
</head>

<body>
<div id="loader-wrapper" class="loader-off">
<div id="loader"></div>
</div>
<%- include search %>

<div class="wrapper">
  <!-- Header section -->
  <%- include header %>

  <div id="pageContent">

    <!-- Breadcrumb section -->

    <section class="breadcrumbs  hidden-xs">
      <div class="container">
        <ol class="breadcrumb breadcrumb--wd pull-left">
          <li><a href="#">Home</a></li>
          <li class="active">Account</li>
        </ol>
      </div>
    </section>

    <!-- Content section -->
    <section class="content">
      <div class="container">
        <h2 class="text-uppercase">Account</h2>
        <div class="card card--padding">
          <div class="card__row-line">
            <h4 class="text-uppercase h-pad-xs">My Account</h4>
          </div>
          <div class="card__row-line">
            <h4 class="text-uppercase h-pad-sm">ORDER HISTORY</h4>
            <div class="hr"></div>
            <table class="table shopping-cart-table table-striped text-center order-history">
              <thead>
                <tr>
                  <th>Order</th>
                  <th>Date</th>
                  <th>Payment Status</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0;i < order.length;i++) { %>
                <tr>
                  <td><div class="th-title visible-xs">Order</div><a href="#"><%=order[i].order_no%></a></td>
                  <td><div class="th-title visible-xs">Date</div><%=order[i].timeStamp%></td>
                  <td><div class="th-title visible-xs">Payment Status</div><%=order[i].status%></td>
                  <td><div class="th-title visible-xs">Total</div><%=order[i].newPrice%></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="card__row-line">
            <h4 class="text-uppercase h-pad-xs">Account Details</h4>
            <table class="table-address">
              <tbody>
                <tr>
                  <td>Name:</td>
                  <td><strong><%=user[0].firstName%> <%=user[0].second_name%></strong></td>
                </tr>
                <tr>
                  <td>E-mail:</td>
                  <td><a href="mailto:alexsmith@hotmail.com"><strong><%=user[0].email_id%></strong></a></td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td><strong><%=user[0].contact%></strong></td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="btn btn--wd">View Addresses</a> </div>
        </div>
      </div>
    </section>
    <!-- End Content section -->
  </div>
  <%- include footer %>

</div>
<!-- /../Vendor -->
<!-- jQuery 1.10.1-->
<script src="/../vendor/jquery/jquery.js"></script>
<!-- Bootstrap 3-->
<script src="/../vendor/bootstrap/bootstrap.min.js"></script>
<!-- Specific Page /../Vendor -->
<script src="/../vendor/waves/waves.min.js"></script>
<script src="/../vendor/slick/slick.min.js"></script>
<script src="/../vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/../vendor/parallax/jquery.parallax-1.1.3.js"></script>
<script src="/../vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/../vendor/waypoints/sticky.min.js"></script>
<script src="/../vendor/doubletaptogo/doubletaptogo.js"></script>
<script src="/../vendor/elevatezoom/jquery.elevatezoom.js"></script>
<script src="/../vendor/imagesloaded/imagesloaded.pkgd.min.js"></script><script src="/../vendor/countdown/jquery.plugin.min.js"></script>
<script src="/../vendor/countdown/jquery.countdown.min.js"></script>
<!-- jQuery form validation -->
<script src="/../vendor/form/jquery.form.js"></script>
<script src="/../vendor/form/jquery.validate.min.js"></script>
<!-- Custom -->
<script src="/../js/custom.js"></script>
</body>
</html>
