<!DOCTYPE html>
<html>
<head>
<!-- Basic -->
<meta charset="utf-8">
<title>Classroom Shoppers - Product</title>
<meta name="keywords" content="Online Shopping" />
<meta name="description" content="DBMS Course project">
<meta name="author" content="etheme.com">
<link rel="shortcut icon" href="/../images/favicon.ico">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
<!-- Icon Fonts  -->
<link rel="stylesheet" href="/../font/style.css">
<!-- /../Vendor CSS -->
<link rel="stylesheet" href="/../vendor/waves/waves.css">
<link rel="stylesheet" href="/../vendor/slick/slick.css">
<link rel="stylesheet" href="/../vendor/slick/slick-theme.css">
<link rel="stylesheet" href="/../vendor/bootstrap-select/bootstrap-select.css">
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="/../vendor/magnific-popup/magnific-popup.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/../css/style-colors.css">
<link rel="stylesheet" href="/../css/style-layout4.css">
<!-- Head Libs -->

<!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
<!--[if lte IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

<!-- Modernizr -->
<script src="/../vendor/modernizr/modernizr.js"></script>
</head>

<body>
<div id="loader-wrapper" class="loader-off">
<div id="loader"></div>
</div>
<%- include search %>

<div class="wrapper">
  <!-- Header section -->
  <%- include header %>

  <div id="pageContent">
    <!-- nav-submenu section -->
    <section class="content top-pad-none nav-submenu border-bottom-none">
      <div class="container">
          <nav>
            <ul class="nav nav-justified">
              <li><a href="#">
                <span class="icon icon-computer"></span>
                Shop Muc
              </a></li>
              <li><a href="#">
                <span class="icon icon-mobile-phone"></span>
                Shop iPhoane
              </a></li>
              <li><a href="#">
                <span class="icon icon-watch"></span>
                Shop Watch
              </a></li>
              <li><a href="#">
                <span class="icon icon-ipad"></span>
                Shop iPaid
              </a></li>
              <li><a href="#">
                <span class="icon icon-music"></span>
                Shop iPoad
              </a></li>
              <li><a href="#">
                <span class="icon icon-televisions"></span>
                Shop Dongle TV
              </a></li>
              <li><a href="#">
                <span class="icon icon-headphone"></span>
                Shop Accessories
              </a></li>
            </ul>
          </nav>
      </div>
    </section>
    <!-- Breadcrumb section -->

    <section class="breadcrumbs breadcrumbs-boxed">
      <div class="container">
        <ol class="breadcrumb breadcrumb--wd pull-left">
          <li><a href="/">Home</a></li>
          <li class="active"><%=product[0].productName%></li>
        </ol>
        <ul id="productOther" class="product-other pull-right hidden-xs">
          <li class="product-other__link product-prev"><a href="#">SMART Watch Sport 38mm</a><span class="product-other__link__image"><img src='images/ishop/products/product-4.jpg'/></span></li>
          <li class="product-other__link product-next"><a href="#">iPaid Air 16 GB Wi-Fi Space Grey</a><span class="product-other__link__image"><img src='images/ishop/products/product-3.jpg'/></span></li>
        </ul>
      </div>
    </section>

    <!-- Content section -->
    <section class="content">
      <div class="container">
        <div class="row product-info-outer">
          <div class="col-sm-6 hidden-xs">
            <div class="product-main-image">
              <div class="product-main-image__item">
                <img class="product-zoom" src='/../images/products/<%=product[0].smallImage%>' data-zoom-image="/../images/products/<%=product[0].smallImage%>"/>
              </div>
              <div class="product-main-image__zoom"></div>
            </div>
            <div class="product-images-carousel">
              <ul id="smallGallery">
                <li><a href="#" data-image="/../images/ishop/products/product-big-1.jpg"  data-zoom-image="/../images/ishop/products/product-big-1-zoom.jpg"><img src="/../images/ishop/products/product-small-1.jpg" alt="" /></a></li>
                <li><a href="#" data-image="/../images/ishop/products/product-big-2.jpg"  data-zoom-image="/../images/ishop/products/product-big-2-zoom.jpg"><img src="/../images/ishop/products/product-small-2.jpg" alt="" /></a></li>
                <li><a href="#" data-image="/../images/ishop/products/product-big-3.jpg"  data-zoom-image="/../images/ishop/products/product-big-3-zoom.jpg"><img src="/../images/ishop/products/product-small-3.jpg" alt="" /></a></li>
                <li><a href="#" data-image="/../images/ishop/products/product-big-4.jpg"  data-zoom-image="/../images/ishop/products/product-big-4-zoom.jpg"><img src="/../images/ishop/products/product-small-4.jpg" alt="" /></a></li>
                <li><a href="#" data-image="/../images/ishop/products/product-big-5.jpg"  data-zoom-image="/../images/ishop/products/product-big-5-zoom.jpg"><img src="/../images/flowers/products/product-small-5.jpg" alt="" /></a></li>
                <li><a href="http://www.youtube.com/watch?v=JW8M32oHTKw" class="video-link"><img src="/../images/ishop/products/product-small-empty.png" alt="" /></a></li>
              </ul>
            </div>
            <div class="modal fade zoom" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">✕ </button>
                    <div>
                      <iframe width="100%" height="350" src=""></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-info col-sm-6">
            <div class="product-info__title">
              <h2><%=product[0].productName%></h2>
              <div class="rating product-info__rating visible-xs"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
            </div>
            <div class="product-info__sku pull-right">SKU: 00065 &nbsp;&nbsp;<span class="label label-success">IN STOCK - <%= product[0].isAvailable == 1 ? "Yes": "No" %></span></div>
            <ul id="singleGallery" class="visible-xs">
              <li><img src="/../images/ishop/products/product-big-1.jpg" alt="" /></li>
              <li><img src="/../images/ishop/products/product-big-2.jpg" alt="" /></li>
              <li><img src="/../images/ishop/products/product-big-3.jpg" alt="" /></li>
              <li><img src="/../images/ishop/products/product-big-4.jpg" alt="" /></li>
              <li><img src="/../images/ishop/products/product-big-5.jpg" alt="" /></li>
            </ul>
            <div class="price-box product-info__price"><span class="price-box__new">Rs. <%=product[0].newPrice%></span> <span class="price-box__old">Rs. <%=product[0].oldPrice%></span></div>
            <div class="rating product-info__rating hidden-xs"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
            <div class="divider divider--xs product-info__divider"></div>
            <div class="product-info__description"> <%=product[0].features%> </div>
            <div class="divider divider--xs product-info__divider"></div>

            <label>Color:</label>
            <ul class="options-swatch options-swatch--color options-swatch--lg">
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/blue.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/yellow.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/green.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/dark-grey.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/grey.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/red.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/white.png" width="10" height="10" alt=""/></span></a></li>
            </ul>
            <div class="divider divider--sm"></div>


            <label>Quantity:</label>
            <div class="outer">
              <div class="input-group-qty pull-left"> <span class="pull-left"> </span>
                <input type="text" name="quant[1]" class="input-number input--wd input-qty pull-left" value="1" min="1" max="100">
                <span class="pull-left btn-number-container">
                <button type="button" class="btn btn-number btn-number--plus" data-type="plus" data-field="quant[1]"> + </button>
                <button type="button" class="btn btn-number btn-number--minus" disabled="disabled" data-type="minus" data-field="quant[1]"> &#8211; </button>
                </span> </div>
              <div class="pull-left">
                <button class="btn btn--wd text-uppercase">Add to Cart</button>
              </div>
              <div class="social-links social-links--colorize social-links--invert social-links--padding pull-right">
                <ul>
                  <li class="social-links__item"><a class="icon icon-facebook tooltip-link" href="#" data-placement="top" data-toggle="tooltip" data-original-title="Share on facebook"></a></li>
                  <li class="social-links__item"><a class="icon icon-twitter tooltip-link" href="#" data-placement="top" data-toggle="tooltip" data-original-title="Share on twitter"></a></li>
                  <li class="social-links__item"><a class="icon icon-google tooltip-link" href="#" data-placement="top" data-toggle="tooltip" data-original-title="Share on google"></a></li>
                  <li class="social-links__item"><a class="icon icon-pinterest tooltip-link" href="#" data-placement="top" data-toggle="tooltip" data-original-title="Share on pinterest"></a></li>
                </ul>
              </div>
            </div>
            <div class="divider divider--xs"></div>
            <ul class="product-links product-links--inline">
              <li><a href="#"><span class="icon icon-bars"></span>Add to compare</a></li>
              <li><a href="#"><span class="icon icon-favorite"></span>Add to wishlist</a></li>
              <li><a href="#"><span class="icon icon-mail-fill"></span>Email to friend</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
     <section class="content  content--fill">
      <div class="container">

        <!-- Modal -->
        <div class="modal quick-view zoom" id="quickView"  style=" opacity: 1">
          <div class="modal-dialog">
            <div class="modal-content"> </div>
          </div>
        </div>
        <!-- /.modal -->

        <h2 class="text-center text-uppercase">featured products</h2>
        <div class="row product-carousel mobile-special-arrows product-grid four-in-row products-listing animated-arrows">
          <!--  -->
          <%for(var i=0;i<productn.length;i++){%>
        <div class="product-preview-wrapper">
            <div class="product-preview">
              <div class="product-preview__image"><a href="/product-layout/<%=productn[i].product_id%>/<%=user_id%>"><img src="/../images/products/<%=productn[i].smallImage%>" data-lazy="/../images/products/<%=productn[i].smallImage%>" alt=""/></a></div>
              <div class="product-preview__label product-preview__label--left product-preview__label--new"><span>new</span></div>
              <div class="product-preview__label product-preview__label--right product-preview__label--sale"><span>sale<br>
                -10%</span></div>
              <div class="product-preview__info text-center">
                <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                <div class="product-preview__info__title">
                  <h2><a href=""><%= productn[i].productName %></a></h2>
                </div>
                <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                <ul class="options-swatch options-swatch--color">
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/blue.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/yellow.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/green.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/dark-grey.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/grey.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/red.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/white.png" width="10" height="10" alt=""/></span></a></li>
                </ul>
                <div class="price-box "><span class="price-box__new">Rs. <%= productn[i].newPrice %></span> <span class="price-box__old">Rs. <%= productn[i].oldPrice %></span></div>
                <div class="product-preview__info__description">
                  <p><%= productn[i].features %></p>
                     </div>
                <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text" onclick ="">Add to cart</span></a></div>
              </div>
            </div>
          </div>
          <%}%>
          <!-- / -->
            <!-- / -->
        </div>
      </div>
    </section>
    <section class="content">
      <div id="navProduct">
        <div class="nav-product">
          <div class="container">
            <ul>
              <li class="nav-product__item" data-target="Description"><a href="#Description">Description</a></li>
              <li class="nav-product__item" data-target="Additional"><a href="#Additional">Additional Info</a></li>
              <li class="nav-product__item" data-target="CustomBlock"><a href="#CustomBlock">Custom Blocks</a></li>
              <li class="nav-product__item" data-target="Reviews"><a href="#Reviews">Reviews</a></li>
              <li class="nav-product__item" data-target="Tags"><a href="#Tags">Tags</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="content top-null">
      <div class="container product-additional">
        <section class="product-additional__box" id="Description">
          <h3 class="text-uppercase">Description</h3>
          <p>Time to have a serious '90s moment! This black dress features thin shoulder straps, a delicate V-neckline, and a super babely high slit. Zip/hook closure at back. Wear it with slide sandals and statement jewelry! By Nasty Gal.</p>
          <ul class="simple-list">
            <li>Spandex</li>
            <li>29&quot;/73.5cm bust</li>
            <li>43&quot;/109cm length</li>
            <li> Model is wearing size small</li>
            <li> Measurements taken from size small</li>
            <li> Machine wash cold</li>
            <li> Made in the USA</li>
          </ul>
        </section>
        <section class="product-additional__box" id="Additional">
          <h3 class="text-uppercase">Additional info </h3>
          <h5 class="text-uppercase">Models Measurements</h5>
          <div class="row">
            <div class="col-md-5">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Height:</td>
                    <td>1.77</td>
                  </tr>
                  <tr>
                    <td>Bust/Chest (cm):</td>
                    <td>83</td>
                  </tr>
                  <tr>
                    <td>Waist (cm):</td>
                    <td>57</td>
                  </tr>
                  <tr>
                    <td> Hips (cm):</td>
                    <td>87</td>
                  </tr>
                  <tr>
                    <td>Model is wearing size:</td>
                    <td>S</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <section class="product-additional__box" id="CustomBlock">
          <h3 class="text-uppercase">Custom Block</h3>
          <h5 class="text-uppercase">Shipping</h5>
          <p>Your order will be shipped directly from the boutique to you. Farfetch ships worldwide using DHL and UPS, and you will be able to track your order at any time. The cost of shipping your order will be calculated at the checkout.<br>
          </p>
          <div class="divider divider--xs"></div>
          <h5 class="text-uppercase">Import duties information</h5>
          <p>Delivery duties are included in the item price when shipping to all EU countries plus USA, China, Canada, Switzerland, Singapore, Australia, Japan, South Korea, Kuwait, Qatar, U.A.E, Saudi Arabia and Taiwan.This means all import duties are included in your order, so the price you see is the price you pay. You will not receive an additional duty bill from the courier to receive your shipment. If you are ordering from within your own customs zone or country, import duties will not be applicable anyway, however you may have to pay VAT or local Sales Taxes where applicable (for the UK and USA these are included at the checkout).</p>
          <p>Delivery duties are not included in the item price when shipping to all other countries. This means you may be liable to pay import duties on receipt of your order.<br>
          </p>
          <div class="divider divider--xs"></div>
          <h5 class="text-uppercase">Free returns pick-up</h5>
          <p>You have 14 days from receiving your order to return the item to the boutique using our free returns pick-up service. We strongly recommend that you book your free returns pick-up within 7 days of receiving your order to ensure that it arrives back to the boutique in time. Please note for standard orders we can only collect returns from the same country to which your order was delivered. For click and collect orders we can collect your return from the country your order was delivered to and also the country of the original boutique you ordered from. We are unable to accept returns of earrings for hygiene reasons. We are also unable to accept returns of fine Jewellery. Click here to read our full returns policy.</p>
        </section>




        <!-- ------------anubhav--------- -->
        <section class="product-additional__box" id="Reviews">
          <h3 class="text-uppercase">Reviews</h3>
          <p class="hidden">Be the first to review this product</p>
          <div class="row">
            <div class="col-sm-5 col-md-4 col-lg-3">
              <div class="rating-extended row">
                <div class="col-lg-12">
                  <h1 class="rating-extended__num pull-left"> <%=review_rating[0].average%></h1>
                  <div class="rating">
                    <% for(var i = 1;i <= review_rating[0].average;i++) { %>
                    <span class="icon icon-star"></span>
                    <% } %>
                    <% for(var i = 1;i <= 5-review_rating[0].average;i++) { %>
                    <span class="icon icon-star empty-star"></span>
                    <% } %>
                  </div>
                  <div> <span class="icon icon-man"></span> <%=review_count[0].count_total%></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12">
                  <div class="progress"><span class="rating-extended__label">5 stars</span>
                    <div class="progress-bar progress-bar-five" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                    <span class="rating-extended__reviews-count"><%=review_r5[0].count_r5%></span> </div>
                  <div class="clearfix"></div>
                  <div class="progress"><span class="rating-extended__label">4 stars</span>
                    <div class="progress-bar progress-bar-four" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                    <span class="rating-extended__reviews-count"><%=review_r4[0].count_r4%></span> </div>
                  <div class="clearfix"></div>
                  <div class="progress"><span class="rating-extended__label">3 stars</span>
                    <div class="progress-bar progress-bar-three" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                    <span class="rating-extended__reviews-count"><%=review_r3[0].count_r3%></span> </div>
                  <div class="clearfix"></div>
                  <div class="progress"><span class="rating-extended__label">2 stars</span>
                    <div class="progress-bar progress-bar-two" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div>
                    <span class="rating-extended__reviews-count"><%=review_r2[0].count_r2%></span> </div>
                  <div class="clearfix"></div>
                  <div class="progress"><span class="rating-extended__label">1 stars</span>
                    <div class="progress-bar progress-bar-one" role="progressbar" aria-valuenow="20"
                                        aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                    <span class="rating-extended__reviews-count"><%=review_r1[0].count_r1%></span> </div>
                </div>
              </div>
              <div><a href="#" class="custom-color underline">Add your review</a> </div>
              <div class="divider divider--md"></div>
            </div>
            <div class="col-sm-7 col-md-8 col-lg-9"> <a href="#" class="custom-color underline">View all <%=review_count[0].count_total%> reviews</a>
              <div class="divider divider--sm"></div>


              <h4 class="text-uppercase h-pad-xs">Most Helpful Customer Reviews</h4>

              <% for(var j = 0;j < reviews.length;j++) { %>

              <div class="review">
                <div class="rating">
                  <% for(var i = 1;i <= reviews[j].raint;i++) { %>
                    <span class="icon icon-star"></span>
                  <% } %>
                  <% for(var i = 1;i <= 5-reviews[j].raint;i++) { %>
                    <span class="icon icon-star empty-star"></span>
                  <% } %>
                </div>
                <div class="review__content"><%=reviews[j].comments%></div>
                <div class="review__meta">By <a href="#"><strong> <%=reviews[j].email_id%> </strong></a> on <%=reviews[j].timeStamp%>
                </div>
                <div class="review__comments"><a href="#">Comments (1)</a></div>
                <div class="review__helpful">Was this review helpful to you? <a href="#">Yes</a> <a href="#">No</a></div>
              </div>

              <% } %>

              
              <a href="#" class="custom-color underline">View all 12 reviews</a>
              <div class="divider divider--xs"></div>
              <a href="#" class="btn btn--wd">Write a review</a> </div>
          </div>
        </section>


        
        <section class="product-additional__box" id="Tags">
          <h3 class="text-uppercase">Tags</h3>
          <p>Other people marked this product with these tags:</p>
          <ul class="tags-list">
            <li><a href="#">Coats</a></li>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Jeans</a></li>
            <li><a href="#">Shirts</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">Skirts</a></li>
          </ul>
          <div><a href="#" class="color underline">Add your tags</a> </div>
        </section>
      </div>
    </section>
    <section class="content  content--fill">
      <div class="container">

        <!-- Modal -->
        <div class="modal quick-view zoom" id="quickView"  style=" opacity: 1">
          <div class="modal-dialog">
            <div class="modal-content"> </div>
          </div>
        </div>
        <!-- /.modal -->

        <h2 class="text-center text-uppercase">Upsells Products</h2>
        <div class="row product-carousel mobile-special-arrows product-grid four-in-row animated-arrows products-listing">
          <!--  -->
          <div class="product-preview-wrapper">
            <div class="product-preview">
              <div class="product-preview__image"><a href="product.html"><img src="/../images/products/product-empty.png" data-lazy="/../images/ishop/products/product-13.jpg" alt=""/></a></div>
              <div class="product-preview__label product-preview__label--right product-preview__label--sale"><span>sale<br>
                -10%</span></div>
              <div class="product-preview__info text-center">
                <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                <div class="product-preview__info__title">
                  <h2><a href="#">iPoad touch 5Gen 32GB</a></h2>
                </div>
                <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                <ul class="options-swatch options-swatch--color">
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/blue.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/yellow.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/green.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/dark-grey.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/grey.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/red.png" width="10" height="10" alt=""/></span></a></li>
                  <li><a href="#"><span class="swatch-label"><img src="/../images/colors/white.png" width="10" height="10" alt=""/></span></a></li>
                </ul>
                <div class="price-box "><span class="price-box__new">$225.00</span> <span class="price-box__old">$250.00</span></div>
                <div class="product-preview__info__description">
                  <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
                  <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
                </div>
                <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
              </div>
            </div>
          </div>
          <!-- / -->
          <!--  -->
          <div class="product-preview-wrapper">
            <div class="product-preview">
              <div class="product-preview__image"><a href="product.html"><img src="/../images/products/product-empty.png" data-lazy="/../images/ishop/products/product-14.jpg" alt=""/></a></div>
              <div class="product-preview__label product-preview__label--right product-preview__label--sale"><span>sale<br>
                -10%</span></div>
              <div class="product-preview__info text-center">
                <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                <div class="product-preview__info__title">
                  <h2><a href="#">iMUc 27" with Retina 5K display</a></h2>
                </div>
                <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                <div class="price-box "><span class="price-box__new">$3712.00</span> <span class="price-box__old">$4125.00</span></div>
                <div class="product-preview__info__description">
                  <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
                  <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
                </div>
                <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
              </div>
            </div>
          </div>
          <!-- / -->
          <!--  -->
          <div class="product-preview-wrapper">
            <div class="product-preview">
              <div class="product-preview__image"><a href="product.html"><img src="/../images/products/product-empty.png" data-lazy="/../images/ishop/products/product-15.jpg" alt=""/></a>
                <div class="product-preview__outstock">OUT STOCK</div>
              </div>
              <div class="product-preview__label product-preview__label--left product-preview__label--new"><span>new</span></div>

              <div class="product-preview__info text-center">
                <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                <div class="product-preview__info__title">
                  <h2><a href="#">MucBook 12" 256GB Silver</a></h2>
                </div>
                <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                <div class="price-box ">$1416.00</div>
                <div class="product-preview__info__description">
                  <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
                  <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
                </div>
                <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
              </div>
            </div>
          </div>
          <!-- / -->
          <!--  -->
          <div class="product-preview-wrapper">
            <div class="product-preview">
              <div class="product-preview__image"><a href="product.html"><img src="/../images/products/product-empty.png" data-lazy="/../images/ishop/products/product-16.jpg" alt=""/></a></div>

              <div class="product-preview__info text-center">
                <div class="product-preview__info__btns"><a href="#" class="btn btn--round ajax-to-cart"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon icon-eye"></span></a></div>
                <div class="product-preview__info__title">
                  <h2><a href="#">iPhoane 6 16 GB Gold</a></h2>
                </div>
                <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>


                <div class="price-box ">$650.00</div>
                <div class="product-preview__info__description">
                  <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
                  <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
                </div>
                <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#" class="ajax-to-wishlist"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
              </div>
            </div>
          </div>
          <!-- / -->
         <!--  -->
            <div class="product-preview-wrapper">
              <div class="product-preview">
                <div class="product-preview__image"><a href="product.html"><img src="/../images/ishop/products/product-5.jpg" alt=""/></a>
                </div>
                <div class="product-preview__info text-center">
                  <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon  icon-search"></span></a></div>
                  <div class="product-preview__info__title">
                    <h2><a href="#">Apple iMac 21,5" </a></h2>
                  </div>
                  <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                  <div class="price-box ">$1265.00</div>
                  <div class="product-preview__info__description">
                    <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
                    <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
                  </div>
                  <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                </div>
              </div>
            </div>
            <!-- / -->
            <!--  -->
            <div class="product-preview-wrapper">
              <div class="product-preview">
                <div class="product-preview__image"><a href="product.html"><img src="/../images/ishop/products/product-6.jpg" alt=""/></a>
                </div>
                <div class="product-preview__info text-center">
                  <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon  icon-search"></span></a></div>
                  <div class="product-preview__info__title">
                    <h2><a href="#">iPaid Air 16 GB Wi-Fi Space Grey </a></h2>
                  </div>
                  <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                  <div class="price-box ">$65.00</div>
                  <div class="product-preview__info__description">
                    <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
                    <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
                  </div>
                  <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                </div>
              </div>
            </div>
            <!-- / -->
            <!--  -->
            <div class="product-preview-wrapper">
              <div class="product-preview">
                <div class="product-preview__image"><a href="product.html"><img src="/../images/ishop/products/product-7.jpg" alt=""/></a>
                </div>
                <div class="product-preview__info text-center">
                  <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon  icon-search"></span></a></div>
                  <div class="product-preview__info__title">
                    <h2><a href="#">iPhoAne 5s </a></h2>
                  </div>
                  <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>
                  <div class="price-box ">$455.00</div>
                  <div class="product-preview__info__description">
                    <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
                    <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
                  </div>
                  <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                </div>
              </div>
            </div>
            <!-- / -->
            <!--  -->
            <div class="product-preview-wrapper">
              <div class="product-preview">
                <div class="product-preview__image"><a href="product.html"><img src="/../images/ishop/products/product-8.jpg" alt=""/></a>

                </div>
                <div class="product-preview__info text-center">
                  <div class="product-preview__info__btns"><a href="#" class="btn btn--round"><span class="icon-ecommerce"></span></a> <a href="quick-view.html" class="btn btn--round btn--dark btn-quickview" data-toggle="modal" data-target="#quickView"><span class="icon  icon-search"></span></a></div>
                  <div class="product-preview__info__title">
                    <h2><a href="#">iPhoane 6 16 GB Space ROSE silver</a></h2>
                  </div>
                  <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span></div>

                  <div class="price-box ">$1250.00</div>
                  <div class="product-preview__info__description">
                    <p>Nulla at mauris leo. Donec quis ex elementum, tincidunt elit quis, cursus tortor. Sed sollicitudin enim metus, ut hendrerit orci dignissim venenatis.</p>
                    <p>Suspendisse consectetur odio diam, ut consequat quam aliquet at.</p>
                  </div>
                  <div class="product-preview__info__link"><a href="#" class="compare-link"><span class="icon icon-bars"></span><span class="product-preview__info__link__text">Add to compare</span></a> <a href="#"><span class="icon icon-favorite"></span><span class="product-preview__info__link__text">Add to wishlist</span></a><a href="#" class="btn btn--wd buy-link"><span class="icon icon-ecommerce"></span><span class="product-preview__info__link__text">Add to cart</span></a></div>
                </div>
              </div>
            </div>
            <!-- / -->
        </div>
      </div>
    </section>
    <!-- End Content section -->
  </div>

  <%- include footer %>
</div>
<div class="compare-box" id="compareBox">
  <div class="container">
    <div class="compare-box__header">
      <h3 class="compare-box__header__title">Compare</h3>
      <div class="compare-box__header__toggle"><span class="compare-box__header__toggle__hide hide-compare">Hide<span class="icon icon-arrow-down"></span></span><span class="compare-box__header__toggle__show show-compare">Show<span class="icon icon-arrow-up"></span></span><span class="compare-box__header__toggle__close close-compare"><span class="icon icon-clear"></span></span></div>
    </div>
    <div class="compare-box__items">
      <ul class="compare-box__items__list compare-carousel nav-top">
        <li class="compare-box__items__list__item">
          <div class="compare-box__items__list__item__delete"><a href="#" class="icon icon-clear"></a></div>
          <a href="#"><img src="/../images/products/product-2.jpg" alt=""></a></li>
        <li class="compare-box__items__list__item empty">
          <div class="compare-box__items__list__item__num">1</div>
          <img src="/../images/products/product-empty.png" alt=""/></li>
        <li class="compare-box__items__list__item empty">
          <div class="compare-box__items__list__item__num">2</div>
          <img src="/../images/products/product-empty.png" alt=""/></li>
        <li class="compare-box__items__list__item empty">
          <div class="compare-box__items__list__item__num">3</div>
          <img src="/../images/products/product-empty.png" alt=""/></li>
        <li class="compare-box__items__list__item empty">
          <div class="compare-box__items__list__item__num">4</div>
          <img src="/../images/products/product-empty.png" alt=""/></li>
        <li class="compare-box__items__list__item empty">
          <div class="compare-box__items__list__item__num">5</div>
          <img src="/../images/products/product-empty.png" alt=""/></li>
        <li class="compare-box__items__list__item empty">
          <div class="compare-box__items__list__item__num">6</div>
          <img src="/../images/products/product-empty.png" alt=""/></li>
      </ul>
      <div class="compare-box__actions">
        <div class="compare-box__actions__btns"> <a href="#" class="btn btn--wd btn--lg text-uppercase">Compare</a> <a href="#" class="btn btn--wd btn--lg btn--light text-uppercase" id="removeAllCompare">Clear All</a> </div>
      </div>
    </div>
  </div>
</div>
<!-- /../Vendor -->
<!-- jQuery 1.10.1-->
<script src="/../vendor/jquery/jquery.js"></script>
<!-- Bootstrap 3-->
<script src="/../vendor/bootstrap/bootstrap.min.js"></script>
<!-- Specific Page /../Vendor -->
<script src="/../vendor/waves/waves.min.js"></script>
<script src="/../vendor/slick/slick.min.js"></script>
<script src="/../vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/../vendor/parallax/jquery.parallax-1.1.3.js"></script>
<script src="/../vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/../vendor/waypoints/sticky.min.js"></script>
<script src="/../vendor/doubletaptogo/doubletaptogo.js"></script>
<script src="/../vendor/elevatezoom/jquery.elevatezoom.js"></script>
<script src="/../vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<!-- Magnific Popup core JS file -->
<script src="/../vendor/magnific-popup/jquery.magnific-popup.min.js"></script> <script src="/../vendor/countdown/jquery.plugin.min.js"></script>
<script src="/../vendor/countdown/jquery.countdown.min.js"></script>
<!-- jQuery form validation -->
<script src="/../vendor/form/jquery.form.js"></script>
<script src="/../vendor/form/jquery.validate.min.js"></script>
<!-- Custom -->
<script src="/../js/custom.js"></script>
</body>
</html>
