
<!DOCTYPE html>
<html>
<head>
<!-- Basic -->
<meta charset="utf-8">
<title>Classroom Shoppers - Cart</title>
<meta name="keywords" content="Online Shopping" />
<meta name="description" content="DBMS Course project">
<meta name="author" content="etheme.com">
<link rel="shortcut icon" href="/../images/favicon.ico">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
<!-- Icon Fonts  -->
<link rel="stylesheet" href="/../font/style.css">
<!-- /../Vendor CSS -->
<link rel="stylesheet" href="/../vendor/waves/waves.css">
<link rel="stylesheet" href="/../vendor/slick/slick.css">
<link rel="stylesheet" href="/../vendor/slick/slick-theme.css">
<link rel="stylesheet" href="/../vendor/bootstrap-select/bootstrap-select.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/../css/style.css">
<link rel="stylesheet" href="/../css/style-colors.css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<!-- Head Libs -->

<!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
<!--[if lte IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

<!-- Modernizr -->
<script src="/../vendor/modernizr/modernizr.js"></script>
</head>

<body>
<div id="loader-wrapper" class="loader-off">
  <div id="loader"></div>
</div>

<%- include search %>

<div class="wrapper">
  <!-- Header section -->
  <%- include header %>

  <div id="pageContent">

    <!-- Breadcrumb section -->

    <section class="breadcrumbs  hidden-xs">
      <div class="container">
        <ol class="breadcrumb breadcrumb--wd pull-left">
          <li><a href="#">Home</a></li>
          <li class="active">Shopping Cart</li>
        </ol>
      </div>
    </section>

    <!-- Content section -->
    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 aside-column">
            <h2 class="text-uppercase">Shopping Cart</h2>
            <div class="card card--padding">
              <table class="table shopping-cart-table text-center">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Product Name</th>
                    <th>&nbsp;</th>
                    <th>Unit Price </th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
            <tbody>
                  <%if(cart!=null){ %>
                     <% for(var i = 0;i < cart.length;i++) { %>
              <tr>
                <td><div class="th-title visible-xs">Remove From Cart:</div>
                  <a class="icon-clear shopping-cart-table__delete" href="#"></a></td>
                <td class="no-title"><div class="shopping-cart-table__product-image"><a href="product.html"><img src=/../images/colors/blue.png alt=""/></a></div></td>
                <td><div class="th-title visible-xs">Product Name:</div>
                  <h6 class="shopping-cart-table__product-name text-left text-uppercase"><a href="product.html"><%=cart[i].productName%></a></h6>
                  <div class="shopping-cart-table__product-color text-left">
          <ul class="options-swatch options-swatch--color">
            <li><a href="#"><span class="swatch-label"><img src="/../images/colors/red.png" width="10" height="10" alt=""/></span></a></li>
          </ul>
          </div></td>
                <td><div class="th-title visible-xs">Unit Price:</div>
                  <div class="shopping-cart-table__product-price"><%=cart[i].newPrice%></div></td>
                <td><div class="th-title visible-xs">QTY:</div>
                  <div class="input-group-qty"> <span class="pull-left"> </span>
                    <input type="text" name="quant[1]" class="input-number input--wd input-qty pull-left" value=<%=cart[i].quantity%> min="1" max="100">
                    <span class="pull-left btn-number-container">
                    <button type="button" class="btn btn-number btn-number--plus" data-type="plus"> + </button>
                    <button type="button" class="btn btn-number btn-number--minus" disabled="disabled" data-type="minus"> – </button>
                    </span> </div>
                  <a class="icon-pencil shopping-cart-table__delete" href="#"></a></td>
                <td><div class="th-title visible-xs">Subtotal:</div>
                  <div class="shopping-cart-table__product-price"><%=cart[i].subtotal%></div></td>
              </tr>
              
              <% } %>
              <% } %>


            </tbody>
              </table>
              <div class="hr"></div>
              <div class="divider divider--xs"></div>
              <div class="row shopping-cart-btns">
                <div class="col-sm-12 col-md-4"><a href="#" class="btn btn--wd pull-left">Continue Shopping</a></div>
                <div class="divider divider--xs visible-sm visible-xs"></div>
                <div class="col-sm-12 col-md-8"><a href="#" class="btn btn--wd btn--light pull-right">Clear Shopping Cart</a>
                  <div class="divider divider--xs visible-sm visible-xs"></div>
                  <a href="#" class="btn btn--wd pull-right">Update Shopping Cart</a></div>
              </div>
              <div class="divider divider--xxs"></div>
            </div>
          </div>
          <div class="col-md-3 aside-column">
            <div class="card card--collapse">
              <h4 class="h-pad-sm card-title">DISCOUNT CODES</h4>
              <div class="card-content">
        <p>Enter your coupon code if you have one.</p>
                <input type="text" class="input--wd input--wd--full">
                <div class="divider divider--xs"></div>
                <button type="submit" class="btn btn--wd text-uppercase wave waves-effect">Apply Coupon</button>
              </div>
            </div>
            <div class="divider divider--xs"></div>
            <div class="card card--collapse">
              <h4 class="h-pad-sm card-title">ESTIMATE SHIPPING AND TAX</h4>
              <div class="card-content">
              <p>Enter your destination to get a shipping estimate.</p>
              <select class="selectpicker fullwidth" data-style="select--wd select--wd--lg">
                <option>Country </option>
                <option>Austria </option>
                <option>Belgium</option>
                <option>Cyprus </option>
                <option>Croatia </option>
                <option>Czech Republic </option>
                <option>Denmark </option>
                <option>Finland </option>
                <option>France </option>
                <option>Germany </option>
                <option>Greece </option>
                <option>Hungary </option>
                <option>Ireland </option>
                <option>France </option>
                <option>Italy </option>
                <option>Luxembourg </option>
                <option>Netherlands </option>
                <option>Poland </option>
                <option>Portugal </option>
                <option>Slovakia </option>
                <option>Slovenia </option>
                <option>Spain </option>
                <option>United Kingdom </option>
              </select>
              <select class="selectpicker fullwidth" data-style="select--wd select--wd--lg">
                <option>State/Province </option>
                <option>Austria </option>
                <option>Belgium</option>
                <option>Cyprus </option>
                <option>Croatia </option>
                <option>Czech Republic </option>
                <option>Denmark </option>
                <option>Finland </option>
                <option>France </option>
                <option>Germany </option>
                <option>Greece </option>
                <option>Hungary </option>
                <option>Ireland </option>
                <option>France </option>
                <option>Italy </option>
                <option>Luxembourg </option>
                <option>Netherlands </option>
                <option>Poland </option>
                <option>Portugal </option>
                <option>Slovakia </option>
                <option>Slovenia </option>
                <option>Spain </option>
                <option>United Kingdom </option>
              </select>
              <input type="text" class="input--wd input--wd--full" placeholder="Zip/Postal Code">
              <div class="divider divider--xs"></div>
              <button type="submit" class="btn btn--wd text-uppercase wave waves-effect">Get a Quote</button>
        </div>
            </div>
            <div class="divider divider--xs"></div>
            <h4 class="h-pad-sm">CART TOTALS</h4>
            <table class="table table-total">
              <tbody>
                
                <tr>
                  <td class="text-left"><h2>Grand Total</h2></td>
                  <td class="text-right"><h2><%= cart_total == null ? "0": (cart_total[0].total == null ? "0" :  cart_total[0].total )  %></h2></td>
                </tr>
              </tbody>
            </table>
            <div class="divider divider--xs"></div>
            <div class="text-center"> <a href="#" class="btn btn--wd btn--xl">Proceed to checkout</a>
            <div class="divider divider--xxs"></div>
              <p>Checkout with Multiple Addresses</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Content section -->
  </div>

  <%- include footer %>
  
</div>
<!-- /../Vendor -->
<!-- jQuery 1.10.1-->
<script src="/../vendor/jquery/jquery.js"></script>
<!-- Bootstrap 3-->
<script src="/../vendor/bootstrap/bootstrap.min.js"></script>
<!-- Specific Page /../Vendor -->
<script src="/../vendor/waves/waves.min.js"></script>
<script src="/../vendor/slick/slick.min.js"></script>
<script src="/../vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/../vendor/parallax/jquery.parallax-1.1.3.js"></script>
<script src="/../vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/../vendor/waypoints/sticky.min.js"></script>
<script src="/../vendor/doubletaptogo/doubletaptogo.js"></script>
<script src="/../vendor/elevatezoom/jquery.elevatezoom.js"></script>
<script src="/../vendor/imagesloaded/imagesloaded.pkgd.min.js"></script><script src="/../vendor/countdown/jquery.plugin.min.js"></script>
<script src="/../vendor/countdown/jquery.countdown.min.js"></script>
<!-- jQuery form validation -->
<script src="/../vendor/form/jquery.form.js"></script>
<script src="/../vendor/form/jquery.validate.min.js"></script>
<!-- Custom -->
<script src="/../js/custom.js"></script>
</body>
</html>
